########################################
# OS-SPECIFIC FILES
########################################

# macOS
.DS_Store

########################################
# IDEs AND TEXT EDITORS
########################################

# PyCharm
.idea/

# VS Code
.vscode/

########################################
# PROGRAMMING LANGUAGES
########################################

# Python
__pycache__/
venv/

########################################
# FRAMEWORKS
########################################

# Django
media/

########################################
# LOG FILES
########################################

*.err
*.log
*.out

########################################
# TEMPORARY FILES
########################################

*.7z
*.rar
*.tar*
*.zip

########################################
# ENVIRONMENT FILES
########################################

.env
