{% load static %}
{% load placeholder_filter %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Next</title>
    <link rel="stylesheet" href="{% static 'css/register-login.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'images/favicon.png' %}">
</head>
<body>
    <form method="post">
        {% csrf_token %}

        <div class="header-container">
            <img src="{% static 'images/logo.png' %}" alt="Logo">
            <h1>Log In</h1>
        </div>

        {{ form.username|placeholder:'Email' }}
        {{ form.password|placeholder:'Password' }}
        {% if messages %}
            {% for message in messages %}
                <div class="error">{{ message }}</div>
            {% endfor %}
        {% endif %}

        <button type="submit">Log in</button>

        <div class="signup">
            <p>Don’t have an account? <a href="{% url 'register' %}">Sign up</a></p>
        </div>
    </form>
</body>
</html>
