{% extends 'accounts/profile-base.html' %}

{% block content-profile %}
    <div class="box-70">
        <div class="header">
            <p>Change Password</p>
        </div>

        <div class="password-change-form">
            <p>Please fill in the fields below to update your password.</p>
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.old_password.label_tag }}
                    {{ form.old_password }}
                    {% if form.old_password.errors %}
                        <div class="error">{{ form.old_password.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.new_password1.label_tag }}
                    {{ form.new_password1 }}
                    {% if form.new_password1.errors %}
                        <div class="error">{{ form.new_password1.errors }}</div>
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.new_password2.label_tag }}
                    {{ form.new_password2 }}
                    {% if form.new_password2.errors %}
                        <div class="error">{{ form.new_password2.errors }}</div>
                    {% endif %}
                </div>
                <button type="submit" class="btn btn-primary">Change Password</button>
            </form>
        </div>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="alert {% if message.tags %}alert-{{ message.tags }}{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
{% endblock %}
